:root {
  --color-light-primary: #fffffe;
  --color-light-secondary: #ff735c;
  --color-dark-primary: #1a2e35;
  --color-dark-secondary: #2f5596;
}

.footer__wrapper {
  background-color: var(--color-light-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: var(--color-dark-secondary);
  font-size: 1rem;
  font-weight: 700;
  flex-direction: column;
}

.footer__people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer__people p {
  margin: 0;
  padding: 0.5rem;
}

.footer__people a {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  color: var(--color-dark-secondary);
}

.footer__people a:hover {
  opacity: 0.5;
}

.foot-logo {
  width: 36%;
}

.footer__people__name {
  padding: 0rem 0.5rem;
}

.avalith__logo {
  text-decoration: none;
  display: flex;
}

.avalith__logo img {
  max-width: 130px;
}

.footer__avalith {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .footer__avalith {
    display: flex;
    flex-direction: column;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    color: var(--color-dark-secondary);
    font-size: 1rem;
    justify-content: center;
    text-align: center;
  }

  .avalith__logo {
    padding: 0.5rem;
  }

  .footer__wrapper {
    padding: 4rem 0rem;
  }
}
