* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.navbar__item {
  display: flex;
  align-items: center;
}

.navbar__item__list {
  display: flex;
  align-items: center;
}

.navbar__item__list__products {
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar__item__list__li a {
  color: var(--color-dark-secondary);
}

.navbar__item__list__cart a {
  color: var(--color-dark-primary);
}

.navbar__item__list__login {
  display: flex;
  align-items: center;
  margin: 0rem 0rem 0rem 4rem;
}

.navbar__logo a {
  color: var(--color-dark-primary);
  text-decoration: none;
  font-size: 2rem;
  line-height: 1rem;
}

nav ul a {
  text-decoration: none;
}

.navbar__item__list ul li {
  list-style: none;
  padding: 0rem 1rem;
}

/* Mobile styles */
@media screen and (max-width: 968px) {
  .navbar__container {
    flex-direction: column;
  }

  .navbar__logo {
    padding: 1rem;
  }
}

@media screen and (max-width: 868px) {
  .navbar__item__list {
    flex-direction: column;
    padding: 0.5rem;
  }

  .navbar__item__list__login {
    margin: 0rem;
    padding: 0.5rem 0rem 0rem;
  }
}

@media screen and (max-width: 610px) {
  .navbar__item__list {
    font-size: 0.8rem;
  }
}
.main-heading {
  margin: 20px 0;
}

.each-product {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px 10px;
  align-items: center;
  place-items: center;
  margin: 10px 0;
}

.each-product .responsive-img {
  width: 100%;
  display: block;
}

.each-product .prod-cta button {
  color: #060614e7;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid #060614e7;
}

.each-product .prod-cta button:hover {
  color: #ffffff;
  background-color: #060614e7;
  border: 1px solid #060614e7;
}

.cart-quantity {
  padding: 0 10px;
}

/* Payment */

.cart-summry {
  margin: 30px 0;
  width: 350px;
  max-width: 100%;
}

.total-prod-price button {
  cursor: pointer;
  color: #060614e7;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid #060614e7;
  
}

.total-prod-price button:hover{
  color: #ffffff;
  background-color: #e91818e7;
  border: 2px solid #060614e7;
}

.pay-total-items,
.total-price-section {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
 
}
.checkout{
  cursor: pointer;
  color: #060614e7;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid #060614e7;
}
.checkout:hover{
  color: #ffffff;
  background-color: #36363ae7;
  border: 1px solid #060614e7;
}


